/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

h1 {
	color: rgb(140, 39, 39);
}

.flash {
	margin: auto;
	color: rgb(140, 39, 39);
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(227, 227, 227);
	height: 50px;
	width: 600px;
	border-radius: 5px;
	padding: 8px;
}

#userName {
	margin-left: 15px;
}

#userName a {
	color: rgb(77, 182, 172);
	font-size: 125%;
	font-family: 'Montserrat', sans-serif;
}

.btn-default {
	color: rgb(255, 255, 255);
	background-color: rgb(65, 94, 107);
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.form {
	text-align:center;
}

.nav .btn {
  font-size: 80%;
}

.tab-pane {
  overflow:auto;
  height: 360px
}

footer {
  text-align: center;
  font-size: 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
	height: 25px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: rgb(207, 207, 207);
	background-color: rgb(43, 62, 71);
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Noto Serif', serif;
	color: rgb(65, 94, 107);
	background: rgba(182, 182, 182, 0.5);
	padding-top: 70px;
	margin-bottom: 25px;

$bgDefault      : rgb(43, 62, 71);
$bgHighlight    : rgb(221, 221, 221);
$colDefault     : rgb(140, 39, 39);
$colHighlight   : rgb(108, 134, 145);
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $colDefault;
  font-size: 100%;
	font-family: 'Montserrat', sans-serif;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $bgHighlight; }
  .navbar-nav {
    > li {
      > a {
        color: $bgHighlight;
        margin-top: 5px;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    text-align: left !important;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}}

.fullscreen-bg__video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
